@import '../../../styles/variables';

.ScheduleSingleDay {
    h1, h4, h5 {
        font-family: $titleFont;
    }


    .buttonContainer {
        margin-top: 20px;
        font-family: 'Bubblegum Sans', cursive;

        .btn {
            font-size: 1.25;
            width: 200px;
            box-shadow: 5px 10px 10px rgb(55, 55, 55);
        }
    }
}