@import '../../../styles/variables';

.AssignmentsDue {

    h3 {
        margin-top: 20px;
        font-family: $titleFont;
    }

    
    .buttonContainer {
        margin-top: 20px;
        font-family: 'Bubblegum Sans', cursive;

        .formButton {
            font-size: 1.5em;
            width: 150px;
            box-shadow: 5px 10px 10px rgb(55, 55, 55);
        }
    }
}