@import '../../../styles/variables';

.AccountManagement {
    margin-top: 150px;

    h1 {
        margin-top: 20px;
        font-family: $titleFont;
    }

    .buttonContainer {
        margin-top: 20px;
        font-family: 'Bubblegum Sans', cursive;

        .formButton {
            font-size: 1.5em;
            width: 200px;
            box-shadow: 5px 10px 10px rgb(55, 55, 55);
        }
    }

    p {
        font-size: x-large;
        font-family: $buttonFont;
    }


    .warning {
        color: red;
        font-family: $buttonFont;
        font-size: 1.5em;
    }

}