@import '../../../styles/variables';

.ManageStudents {
    margin-top: 150px;

    h1 {
        margin-top: 20px;
        font-family: $titleFont;
    }

    th {
        width: 100px;
    }

    .btn {
        font-family: $buttonFont;
        font-size: 1em;
        box-shadow: 5px 10px 10px rgb(55, 55, 55);
    }
}