@import '../../../styles/variables';

.TeacherRegistration {
    h1 {
        margin-top: 20px;
        font-family: $titleFont;
    }

    #owl {
        height: 400px;
    }

    h2, p {
        font-family: $buttonFont;
    }

    p {
        font-size: x-large;
    }

    .col-form-label {
        font-family: $titleFont;
    }

    .form-control {
        width: 400px;
        font-family: $buttonFont;
    }

    .warning {
        color: red;
        font-family: $buttonFont;
        font-size: 1.5em;
    }

    .buttonContainer {
        margin-top: 20px;
        font-family: 'Bubblegum Sans', cursive;

        .formButton {
            font-size: 1.75em;
            width: 200px;
            box-shadow: 5px 10px 10px rgb(55, 55, 55);
        }
    }
}